@media screen and (min-width: 1028px) {
  .context {
    margin-left: 200px;
  }
  .post {
    &-group {
      flex-wrap: wrap;
    }
  }
  // .intro {
  //   &-content {
  //     width: 100%;
  //     padding: 0 20px;
  //   }
  // }
}

@media screen and (max-width: 1024px) {
  .context {
    margin-left: 180px;
  }
  .intro {
    &-content {
      width: 100%;
      padding: 0 20px;
    }
  }
  .post {
    &-group {
      flex-direction: column;
    }
    &-box {
      &-content {
        max-width: 100%;
      }
      &-text {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .post {
    &-box {
      &-text {
        width: 100%;
        padding-right: 10px;
      }
    }
  }
  .logo {
    &-main {
      // width: 200px;
    }
  }
}

@media screen and (max-width: 450px) {
  .logo {
    &-main {
      width: 180px;
      height: 100px;
    }
    &-img {
      width: 100%;
    }
  }
}
